<li class="nav-item" active>
<a class="nav-link" href="/">
<span class="sr-only">(current)</span>
</a>
</li>
<li class="nav-item">
    <%= link_to "Dashboard",dashboard_path,class: "nav-link"%>
</li>

<li class="nav-item" >
<%= link_to "Log in", new_account_session_path, class: "nav-link" %>
</li>
<li class="nav-item" >
<a class="nav-link" href="#">
  contact
</a>
</li>